.loginGoogle {
    background: transparent;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
}

.loginGoogle i {
    color: #DB4437;
}

.login-form {
    height: 100vh;
}

.login-container {
    background: linear-gradient(to bottom, rgba(0, 149, 218, 0.658), rgba(0, 41, 70, 0.781)),url("../../images/loinImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}