.banner {
    background-image:     linear-gradient(to bottom, rgba(2, 179, 202, 0.397), rgb(2, 83, 94)),
    url('../../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-btn {
    background:#014152;
    border: none;
    text-decoration: none;
    padding: 10px 28px;
    font-size: 18px;
    margin-top: 12px;
    color: #fff;
    transition: 0.5s;
    font-weight: 500;
    display: inline-block;
}

.banner-btn:hover {
    color: #fff;
    transform: scale(1.1);
    background: #014152;
}