.banner {
    background-image:     linear-gradient(to bottom, rgba(14, 177, 199, 0.397), rgba(46, 204, 113, 1)),
    url('../../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-btn {
    background:#0387a8;
    border: none;
    text-decoration: none;
    padding: 10px 28px;
    font-size: 18px;
    margin-top: 12px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
}

.banner-btn:hover {
    color: #fff;
    background: #329f5b;
}